<!DOCTYPE HTML>
<!--Подключаем шаблонизатор-->
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>My Competas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
</head>
<body>
<header th:insert="blocks/header.html :: header"></header>

<div class="container mt-5 mb-5">

    <h1> Are you about to add a new Competa? </h1>
    <br>
    <div sec:authorize="isAuthenticated()">Authenticated as <span sec:authentication="name"></span></div>
    <br><br>

    <form action="#" th:action="@{/competa/add}" th:object="${competa}" method="post">
        <!--     связали форму с объектом competa-->

        <!--   поле выбора типа компеты  -->
        <div class="form-check form-check-inline">
<!--            <option th:each="el:${industries}" th:value="${el.id}" th:text="${el.name}" ></option>-->
            <input class="form-check-input" type="radio" name="competaType" id="inlineRadio1" value="Education"
                   th:field="*{ctype}" required>
            <label class="form-check-label" for="inlineRadio1">Education</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="competaType" id="inlineRadio2" value="Job"
                   th:field="*{ctype}" required>
            <label class="form-check-label" for="inlineRadio2">Job</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="competaType" id="inlineRadio3" value="Hard skill"
                   th:field="*{ctype}" required>
            <label class="form-check-label" for="inlineRadio3">Hard skill</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="competaType" id="inlineRadio4" value="Soft skill"
                   th:field="*{ctype}" required>
            <label class="form-check-label" for="inlineRadio3">Soft skill</label>
        </div>
        <br><br>
        <!--   поле выбора title  -->
        <input type="text" name="title" placeholder="Input title" class="form-control" th:field="*{title}" required><br>

        <!--   поле выбора description  -->
        <input type="text" name="description" placeholder="Input description" class="form-control"
               th:field="*{description}"><br>

        <!--   поле выбора даты -->
        <input type="date" name="dateOut" class="form-control" id="dateOutAdd" placeholder="DateOut"
               th:field="*{dateOut}" required><br>

        <!-- поле выбора индустрии из выпадающего списка -->
        <select class="form-control" th:field="*{selectedIndustryId}" id="dropDownList">
            <option value="0"> select industry </option>
            <option th:each="el:${industries}" th:value="${el.id}" th:text="${el.name}" ></option>
        </select>

        <br>
        <!-- поле выбора статуса  -->
        <div class="form-check">
            <input class="form-check-input" name="status" type="checkbox" value="true" id="defaultCheck1"
                   th:field="*{status}">
            <label class="form-check-label" for="defaultCheck1">
                Public
            </label>
        </div>

        <br> <br>
        <button type="submit" class="btn btn-primary"> Add</button>
        <a th:href="@{/competa}" class="btn btn-secondary"> Back </a>
    </form>
</div>

<div th:insert="blocks/footer.html :: footer"></div>

</body>
</html>
