<!DOCTYPE HTML>
<!--Подключаем шаблонизатор-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Competa Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"></script>
</head>
<body>
<header th:insert="blocks/header.html :: header"></header>

<div class="container mt-5 mb-5">
    <h1> Competa details </h1>
    <div th:each="el:${competa}" class="alert alert-info mt-2">
        <h4 th:text="${el.ctypeName}"/>
        <p>Titel:</p>
        <h2 th:text="${el.title}"/>
        <p>Description:</p>
        <h2 th:text="${el.description}"/><br><br>
        <p><b>Date of creation:</b> <span th:text="${#dates.format(el.dateOut, 'dd-MM-yyyy')}"/></p>
        <p><b>Views:</b> <span th:text="${el.views}"/></p>
        <p><b>Is public:</b> <span th:text="${el.status}"/></p>
        <br> <br>

        <h4 class="mb-3"> Competa Image </h4>
        <style>
            .round {
                border-radius: 10px; /* Радиус скругления */
            }
        </style>
        <img th:src="'data:image/png;base64,' + ${image}" width = "200" class = "round">
        <br>
        <br>
        <!--        Picture upload form-->
        <form
                id="uploadForm"
                method="post"
                th:action="@{'/competa/' + ${el.id}}"
                enctype="multipart/form-data">
            <input id="input-file" type="file" name="file" accept="image/png, image/jpeg" />
            <button class="btn btn-sm btn-outline-success float-right" type="submit">
                Upload
            </button>
        </form>
        <!--        Picture upload form-->
        <br> <br>
        <a th:href="'/competa/' + ${el.id} + '/edit'" class="btn btn-warning"> Edit </a> <br><br>
        <form th:action="'/competa/' + ${el.id} + '/remove'" method="post">
            <button class="btn btn-warning" type="submit"> Delete</button>
            <a th:href="@{/competa}" class="btn btn-secondary"> Back </a>
        </form>
    </div>
</div>

<div th:insert="blocks/footer.html :: footer"></div>
</body>
</html>
